body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.Parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.child {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 2px solid white;
}

.profile {
    display: flex;
}

img {
    width: 300px;
    height: 300px;
}

.bio{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
input{
    width: 300px;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid white;
}
.Input{
    display: flex;
    justify-content: center;
    align-items: center;
}
